<html lang="en">
<body>
<a href='/home'>Home</a>
<h2> Enjoy your pictures </h2>
<table class="image">
	<% pictures.forEach(function(picture) { %>
		<tr><td><img src='<%= picture.file_path %>' height=200 width=300/></td></tr>
		<tr><td>
			<form ref='deletePicture' 
					id='deletePicture' 
					action='http://localhost:3000/deletePicture/<%= picture.id %>' 
					method='post' 
					encType="multipart/form-data">
					<input type="hidden" name="_csrf" value='<%= csrf %>'>
					<input type='submit' value='Delete Picture' />
			</form>
		</td></tr>
		<tr><td>
			<form ref='uploadForm' 
					id='uploadForm' 
					action='http://localhost:3000/editPicture/<%= picture.id %>' 
					method='post' 
					encType="multipart/form-data">
					<input type="hidden" name="_csrf" value='<%= csrf %>'>
					<input type="text" name="comment" value='<%= picture.comment %>'/>
					<input type='submit' value='Save Changes.' />
			</form>
		</td></tr>
    <% }); %>
</ul>
</body>


</html>